<div class="container bg-white w-100 p-3 mt-5 card-header " style="box-shadow: rgba(0, 0, 0, 0.75) 10px 10px 5px 0; ">


  <div class="row">
    <div class="col-3 text-center">
      <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" width="247px" height="247px" alt="profilePicture" class="mx-auto">
    </div>
    <div class="col-9" [hidden]="!pageReady">
      <div id="profileDetails" style="height: 140px">
        <a class="text-danger float-right" style="font-size: 25px"> <i class="fas fa-flag"> Report Profile</i></a>
        <h1>{{parentProfile.firstName}} {{parentProfile.lastName}}</h1>
        <div class="mt-3">
          <h5>Location: {{parentProfile.city}} , {{parentProfile.ZIP}}</h5>
          <h5>I have {{parentProfile.kids.length}} {{(parentProfile.kids.length === 1)? 'kid': 'kids'}}</h5>
        </div>
      </div>
      <div class="border mt-2 mb-4 mx-auto"></div>
      <h3 class="mb-5">My Kids Details</h3>
      <div *ngFor="let kid of parentProfile.kids; let i = index">
        <h4>Name: {{kid.kidName}}</h4>
        <h4>Age: {{kid.kidAge}} , {{kid.childAge}}  <i class="fas text-info" [ngClass]="{'fa-running': kid.childAge === 'preschooler' , 'fa-child': kid.childAge === 'infant', 'fa-chalkboard-teacher' : kid.childAge === 'schooler' , 'fa-baby': kid.childAge === 'toddler'}"></i></h4>
        <h4>Special Needs:</h4>
        <ul>
          <li *ngFor="let specialNeed of kid.specialNeeds" class="font-weight-bold text-info">{{specialNeed}}</li>
          <li *ngIf="kid.otherSpecialNeed.length" class="font-weight-bold text-info">{{kid.otherSpecialNeed}}</li>

        </ul>
        <h4>Additional Info:</h4>
        <p>{{kid.additionalInfo}}</p>
        <div class="border mt-4 mb-4 mx-auto"></div>
      </div>

    </div>
      <span [hidden]="pageReady" class="spinner-border text-center " role="status">
              <span class="sr-only">Loading...</span>
      </span>
  </div>


</div>
