<div class="container py-5">
  <div class="card" style="width: 600px; margin: 15px auto auto;">
    <div class="card-header" style="background-color: #EAEAEA" >
      <h4 class="text-uppercase text-center text-info">Registration</h4>
    </div>
    <div class="card-body" style="background-color: #EAEAEA">
      <div class="row">
        <div class="col-sm-6 col-md-6 col-xs-12">
          <div class="form-group">
            <label class="text-info">First Name:</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-user"></i>
                </span>
              </div>
              <input id="name" type="text" class="form-control">
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-6 col-xs-12">
          <div class="form-group">
            <label class="text-info">Last Name:</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-user"></i>
                </span>
              </div>
              <input id="lastName" type="text" class="form-control">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-6 col-xs-12">
          <div class="form-group">
            <label class="text-info">Phone Number:</label>
            <div class="input-group">
              <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-phone"></i>
                  </span>
              </div>
              <input id="phoneNumber" type="text" class="form-control">
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-6 col-xs-12">
          <div class="form-group">
            <label class="text-info">Email:</label>
            <div class="input-group">
              <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-envelope"></i>
                  </span>
              </div>
              <input id="email" type="text" class="form-control">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-6 col-xs-12">
          <div class="form-group">
            <label class="text-info">Password:</label>
            <div class="input-group">
              <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="fa fa-lock"></i>
                    </span>
              </div>
              <input id="password" type="password" class="form-control">
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-6 col-xs-12">
          <div class="form-group">
            <label class="text-info">Confirm Password:</label>
            <div class="input-group">
              <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="fa fa-lock"></i>
                    </span>
              </div>
              <input id="confirmedPassword" type="password" class="form-control">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-6 col-xs-12">
          <div class="form-group">
            <label class="text-info">Grade:</label>
            <div class="input-group">
              <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="fas fa-graduation-cap"></i>
                    </span>
              </div>
              <select class="form-control" name="grade">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-6 col-xs-12">
          <div class="form-group">
            <label class="text-info">Sector:</label>
            <div class="input-group">
              <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="fas fa-book-reader"></i>
                    </span>
              </div>
              <select class="form-control" name="sector">
                <option value="mpi">MPI</option>
                <option value="cba">CBA</option>
                <option value="ch">CH</option>
                <option value="bio">BIO</option>
                <option value="iia">IIA</option>
                <option value="imi">IMI</option>
                <option value="rt">RT</option>
                <option value="gl">GL</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <button class="btn btn-info btn-md float-left form-control">
        <i class="fas fa-user-plus"></i>
        Register
      </button>
    </div>
  </div>
</div>
