<div class="container bg-white w-100 p-3 mt-5 card-header " style="box-shadow: rgba(0, 0, 0, 0.75) 10px 10px 5px 0; ">
  <div class="row">
    <div class="col-3">
      <div>
      </div>
    </div>
  </div>

  <ul class="nav nav-tabs mb-1" role="tablist">
    <li class="nav-item">
      <a class="nav-link active font-weight-bold text-info" data-toggle="tab" href="#AccountSettings">Account Settings</a>
    </li>

    <li class="nav-item">
      <a class="nav-link font-weight-bold text-info" data-toggle="tab" href="#Kids">Kids</a>
    </li>

    <li class="nav-item">
      <a class="nav-link font-weight-bold text-info" data-toggle="tab" href="#Messages">Messages</a>
    </li>

    <li class="nav-item">
      <a class="nav-link font-weight-bold text-info" data-toggle="tab" href="#Favourite">Favourites</a>
    </li>
  </ul>

  <!-- ================================= ACCOUNT SETTINGS CASE ==================================-->

  <div class="tab-content">
    <div id="AccountSettings" class="container tab-pane active" style="position: relative"><br>

      <div class="text-center mb-2 " style="position: absolute; top: 10px ;right: 30px">
        <img id="profileImage" [src]="url ? url : 'http://ssl.gstatic.com/accounts/ui/avatar_2x.png'" width="150px" height="150px" class="avatar rounded-circle img-thumbnail " alt="avatar" (click)="clickPic()">
        <input type='file' id="imageUpload" name="profilePictureUpload" style="display: none" (change)="onUploadPicture( $event);">
      </div>

      <h1> <i class="fas fa-user-cog"></i> Modify my settings</h1>
      <div class="col mt-4 ml-1">

        <form [formGroup]="personalInfoForm" (ngSubmit)="onSavePI(personalInfoForm.value)">
          <h3 class="text-info">Personal Information</h3>
          <div class="form-group">
            <label for="firstName">First Name:</label>
            <input type="text" class="form-control" placeholder="Exp: Oussama ..." id="firstName" [class.btn-outline-danger]="personalInfoForm.controls.firstName.invalid && changedPI[0]" (change)="changedPI[0]=true" formControlName="firstName">
            <div class="invalid-tooltip">
              Please choose a unique and valid username.
            </div>
          </div>
          <div class="form-group">
            <label for="lastName">Last Name:</label>
            <input type="text" class="form-control" id="lastName" placeholder="Exp: Ben Fredj .." [class.btn-outline-danger]="personalInfoForm.controls.lastName.invalid && changedPI[1]" (change)="changedPI[1]=true" formControlName="lastName">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Email Address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Exp: example@gmail.com" [class.btn-outline-danger]="personalInfoForm.controls.email.invalid && changedPI[2]" (change)="changedPI[2]=true" formControlName="email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group">
            <label for="phoneNumber">Phone Number:</label>
            <input type="text" class="form-control" id="phoneNumber" placeholder="Exp: 24772681 .." [class.btn-outline-danger]="personalInfoForm.controls.phoneNumber.invalid && changedPI[3]" (change)="changedPI[3]=true" formControlName="phoneNumber">
          </div>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1" (change)="checkBoxChange()">
            <label class="form-check-label" for="exampleCheck1">Check me out </label>
          </div>
          <button type="submit" class="btn btn-info btn-md form-control " style="width: 150px" [disabled]="!checkBoxChecked">
            <span [hidden]="savingPI">Save</span>
            <span [hidden]="!savingPI" class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
          </span>
          </button>
        </form>
        <div class="border mt-5 w-75" style="margin-left: 12.5%"></div>
        <form class="mt-4" [formGroup]="newPasswordForm" (ngSubmit)="onSaveNP(newPasswordForm.value)">
          <h3 class="text-info">New Password</h3>
          <div class="form-group">
            <label for="oldPassword">Your Old Password</label>
            <input type="password" class="form-control" id="oldPassword" [class.btn-outline-danger]="newPasswordForm.controls.oldPassword.invalid && changedNP[0]" (change)="changedNP[0]=true" formControlName="oldPassword" >
          </div>
          <div class="form-group">
            <label for="newPassword">Your New Password</label>
            <input type="password" class="form-control" id="newPassword" [class.btn-outline-danger]="newPasswordForm.controls.newPassword.invalid && changedNP[1]" (change)="changedNP[1]=true" formControlName="newPassword" >
          </div>
          <div class="form-group">
            <label for="confirmNewPassword">Confirm Your New Password</label>
            <input type="password" class="form-control" id="confirmNewPassword" [class.btn-outline-danger]="newPasswordForm.controls.confirmNewPassword.invalid && changedNP[2]" (change)="changedNP[2]=true" formControlName="confirmNewPassword">
          </div>
          <button type="submit" class="btn btn-info btn-md form-control " style="width: 150px">
            <span [hidden]="savingNP">Save</span>
            <span [hidden]="!savingNP" class="spinner-border" role="status">
              <span class="sr-only">Loading...</span>
            </span>
          </button>
        </form>
        <div class="border mt-5 w-75" style="margin-left: 12.5%"></div>
        <form class="mt-4" [formGroup]="notificationForm" (ngSubmit)="onUpdateNotifications(notificationForm.value)">
          <h3 class="text-info">Notifications</h3>
          <div class="form-group col">
            <div class="form-group" >
              <label class="ml-n2" for="subscribeEmail">Subscribe  To NewsLetter:</label>
              <div class="row">
                <input  type="email" class="form-control" id="subscribeEmail" [disabled]="newsLetterChecked && parentProfile.notifications.emailSub.length > 0" aria-describedby="subEmail" placeholder="Exp: Example@gmail.com" style="width: 90%" [class.btn-outline-danger]="notificationForm.controls.emailSub.invalid && changedNotif" (change)="changedNotif=true" formControlName="emailSub">
                <ui-switch  class="col-sm-1" color="#17a2b8" id="emailSubCheck" [disabled]="notificationForm.controls.emailSub.invalid" (click)="subscribeChange(notificationForm.value)" formControlName="emailSubCheck"></ui-switch>
              </div>
            </div>
            <label class="ml-n2">Your email notifications</label>
            <ul class="list-group ml-n3">
              <li class="list-group-item font-weight-bold" style="height: 50px">messages received <ui-switch class="col-sm-1" color="#17a2b8" style="float: right" [disabled]="!newsLetterChecked" (click)="favouriteSubmit.click()" formControlName="messagesReceived"></ui-switch></li>
              <li class="list-group-item font-weight-bold" style="height: 50px">Favourites Availability <ui-switch class="col-sm-1" color="#17a2b8" style="float: right" [disabled]="!newsLetterChecked" (click)="favouriteSubmit.click()" formControlName="favsAvailability"></ui-switch></li>
            </ul>

          </div>
          <button #favouriteSubmit type="submit" hidden></button>
        </form>
      </div>
    </div>
    <!-- ================================= END ACCOUNT SETTINGS CASE ==================================-->

    <!-- ================================= MESSAGES CASE ==================================-->

    <div id="Messages" class="container tab-pane fade"><br>
      <h2 *ngIf="!parentProfile.messages.length" class="font-weight-bold text-center"> No Messages Have Been Found.</h2>
      <div class="container card-header  mb-4 shadow" style="position:relative; border-radius: 10px" *ngFor="let message of parentProfile.messages; let i =index">
        <button type="button" class="close" aria-label="Close" (click)="deleteMessage(i)">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="row">
          <div class="col-1 my-auto">
            <img src="assets/img/standardImage.jpg" width="70px " height="70px" class="rounded-circle m-auto" alt="profilePicture">
          </div>

          <div class="ml-2 mt-1 col-10">
            <h5>Name : {{message.firstNameSender}} {{message.lastNameSender}}</h5>
            <h5>Status : <span [ngClass]="{'text-danger': message.status === 'declined', 'text-success': message.status === 'accepted',
            'text-dark': message.status === 'pending'}">
              {{message.status}}</span></h5>
            <h5 *ngIf="message.status === 'accepted'">Phone Number : {{message.phoneNumber}}</h5>
          </div>
        </div>
        <a [routerLink]="'/viewprofile/sitter/'+message.idSender" style="position: absolute ; bottom: 10px ;right: 20px">view Profile</a>
      </div>
    </div>
    <!-- ================================= END MESSAGES CASE ==================================-->


    <!-- ============================================== KIDS TABLE ===========================================-->
    <div id="Kids" class="container tab-pane fade"><br>
      <form [formGroup]="kidsForm" (ngSubmit)="onSaveKid(kids)">
        <div formArrayName="kids">
          <div class="container card-header border mb-2" *ngFor="let child of kids.controls; let i = index">
            <div [formGroupName]="i">
              <button type="button" class="close" aria-label="Close" *ngIf="!(parentProfile.kids.length === 1)" (click)="deleteKid(i)">
                <span aria-hidden="true">&times;</span>
              </button>
              <div class="form-group">
                <label for="kidName">Input Your Kid's Name:</label>
                <input type="text" id="kidName"  class="form-control" placeholder="EXP: achoik" [class.btn-outline-danger]="child.get('kidName').invalid && changedKid[0]" (change)="changedKid[0]=true" formControlName="kidName">
              </div>
              <div class="form-group">
                <label for="kidAge">Input Your Kid's Age:</label>
                <select id="kidAge" class="form-control"  [class.btn-outline-danger]="child.get('kidAge').invalid && changedKid[1]" (change)="changedKid[1]=true" formControlName="kidAge">
                  <option disabled>Chose...</option>
                  <option value="0">less than 1 year</option>
                  <option value="1">1 year</option>
                  <option value="2">2 years</option>
                  <option value="3">3 years</option>
                  <option value="4">4 years</option>
                  <option value="5">5 years</option>
                  <option value="6">6 years</option>
                  <option value="7">7 years</option>
                  <option value="8">8 years</option>
                  <option value="9">9 years</option>
                  <option value="10">10 years</option>
                  <option value="11">11 years</option>
                  <option value="12">12 years</option>
                  <option value="13">13 years</option>
                  <option value="14">14 years</option>
                  <option value="15">15 years</option>
                </select>
              </div>
              <label>Your Kid Is a:</label>
              <fieldset class="form-group mb-4 mt-2 ">
                <div class="row">
                  <div class="col-sm">
                    <div class="col">
                      <div><img src="assets/img/infant.svg" width="150px" height="150px" alt="infantImage"></div>
                      <div><input class="form-check-input " style="margin-left:70px;" type="radio" name="childAge" id="infant" value="infant" (click)="parentProfile.kids[i].childAge = 'infant'" [checked]="parentProfile.kids[i].childAge === 'infant'" required></div>
                    </div>
                  </div>
                  <div class="col-sm">
                    <div class="col">
                      <div><img src="assets/img/toddler.svg" width="150px" height="150px" alt="toddlerImage"></div>
                      <div ><input class="form-check-input" style="margin-left:70px;" type="radio" name="childAge" id="toddler" value="toddler" (click)="parentProfile.kids[i].childAge = 'toddler'" [checked]="parentProfile.kids[i].childAge === 'toddler'" required></div>
                    </div>
                  </div>
                  <div class="col-sm">
                    <div class="col">
                      <div><img src="assets/img/preschool.svg" width="150px" height="150px" alt="preschoolerImage"></div>
                      <div><input class="form-check-input" style="margin-left:70px;" type="radio" name="childAge" id="preschooler" value="preschooler" (click)="parentProfile.kids[i].childAge = 'preschooler'" [checked]="parentProfile.kids[i].childAge === 'preschooler'" required></div>
                    </div>
                  </div>
                  <div class="col-sm ">
                    <div class="col">
                      <div><img src="assets/img/school.svg" width="150px" height="150px" alt="schoolerImage"></div>
                      <div><input class="form-check-input" style="margin-left:70px;" type="radio" name="childAge" id="schooler" value="schooler" (click)="parentProfile.kids[i].childAge = 'schooler'" [checked]="parentProfile.kids[i].childAge === 'schooler'" required></div>
                    </div>
                  </div>
                </div>
              </fieldset>
              <div class="form-group">
                <label>Special Needs:</label>
                <div class="checkbox">
                  <label><input type="checkbox" name="specialNeed" value="deaf" (click)="parentProfile.toggleSpecialNeed(parentProfile.kids[i].specialNeeds , 'deaf')"  [checked]="parentProfile.kids[i].specialNeeds.includes('deaf')"> deaf</label>
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" name="specialNeed" value="blind" (click)="parentProfile.toggleSpecialNeed(parentProfile.kids[i].specialNeeds , 'blind')" [checked]="parentProfile.kids[i].specialNeeds.includes('blind')"> blind</label>
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" name="specialNeed" value="handicapped" (click)="parentProfile.toggleSpecialNeed(parentProfile.kids[i].specialNeeds , 'handicapped')"  [checked]="parentProfile.kids[i].specialNeeds.includes('handicapped')"> handicapped</label>
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" name="specialNeed" value="mute" (click)="parentProfile.toggleSpecialNeed(parentProfile.kids[i].specialNeeds , 'mute')" [checked]="parentProfile.kids[i].specialNeeds.includes('mute')"> mute</label>
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" name="specialNeed" value="autistic" (click)="parentProfile.toggleSpecialNeed(parentProfile.kids[i].specialNeeds , 'autistic')" [checked]="parentProfile.kids[i].specialNeeds.includes('autistic')"> autistic</label>
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" name="othersCheckBox" (click)="othersSelectedChange(i)" [checked]="parentProfile.kids[i].otherSpecialNeed.length" formControlName="othersCheckBox"> others...</label>
                </div>
                <div class="form-group" *ngIf="child.get('othersCheckBox').value">
                  <textarea class="form-control" id="otherHandicaps" placeholder="Please Describe Here..."  [class.btn-outline-danger]="child.get('otherHandicaps').invalid && changedKid[2]" (change)="changedKid[2]=true" formControlName="otherHandicaps"></textarea>
                </div>

              </div>

              <div class="form-group">
                <label for="comments">Tel Us Something About Your Kid:</label>
                <textarea id="comments" class="form-control"  placeholder="EXP: Hobbies , favourite food , etc ..." [class.btn-outline-danger]="child.get('comments').invalid && changedKid[3]" (change)="changedKid[3]=true" formControlName="comments"></textarea>
                <small class="form-text text-muted">Maximum 300 Caracters.</small>
              </div>
            </div>
          </div>
          <button class="btn btn-info btn-md form-control mb-2 mt-2"  (click)="addKid('', '','', '', false)" *ngIf="parentProfile.kids.length <5">{{(!parentProfile.kids.length)? 'Add A Kid': ' Add Another Kid'}}</button>
          <button type="submit" id="submitKids" class="btn btn-info btn-md form-control" >save</button>
        </div>
      </form>

    </div>
    <!-- ===================================== END KIDS TABLE =======================================-->


    <div id="Favourite" class="container tab-pane fade"><br>
      <h2 class="font-weight-bold text-center" *ngIf="!parentProfile.favourites.length">No Favourites Have Been Found.</h2>
      <div class=" bg-white mx-auto" >
        <div class="card-header shadow mb-4" style="background-color: rgb(247, 247, 247); border-radius: 10px" *ngFor="let sitter of parentProfile.favourites;  let i = index">
          <div class="row">
            <div class="col-2" >
              <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="rounded-circle" width="100%" alt="sitterPicture">
            </div>
            <div class="col-7">
              <h1 class="text-left"><a class="text-dark" [routerLink]="'/viewprofile/sitter/'+sitter.id">{{sitter.firstName}} {{sitter.lastName}}</a></h1>
              <small class="text-left">{{sitter.experience}} Years Of Experience / Location: {{sitter.location}}</small>
              <p>{{sitter.description}}</p>
              <h5 *ngIf="sitter.certificates.length">Certificates: <span class="text-info" *ngFor="let certif of sitter.certificates , let j = index">{{certif}} . </span></h5>
            </div>
            <div class="col-3 border-left position-relative">
              <button type="button" class="close position-absolute" style="top: 5px;right: 5px" aria-label="Close" (click)="deleteFavourite(i)">
                <span aria-hidden="true">&times;</span>
              </button>
              <div class="row h-100">
                <div class="col-12 my-auto" style="margin-left: 20%">
                  <span class="fa fa-star mx-1 text-info"> </span>
                  <span class="fa-star mx-1 text-info" [ngClass]="{'fa': sitter.avgRate > 1, 'far': sitter.avgRate === 1}"></span>
                  <span class="fa-star mx-1 text-info" [ngClass]="{'fa': sitter.avgRate > 2, 'far': sitter.avgRate <= 2}"></span>
                  <span class="fa-star mx-1 text-info" [ngClass]="{'fa': sitter.avgRate > 3, 'far': sitter.avgRate <= 3}"></span>
                  <span class="fa-star mx-1 text-info" [ngClass]="{'fa': sitter.avgRate > 4, 'far': sitter.avgRate <= 4}"></span>
                  <button class="mt-3 btn btn-danger mx-auto" data-toggle="modal" data-target="#requestModal">Request Job</button>
                  <div class="modal fade" id="requestModal" tabindex="-1" role="dialog" aria-labelledby="requestModal" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <form [formGroup]="requestForm" (ngSubmit)="onSubmitRequest(requestForm.value, i)">
                            <div class="form-group">
                              <label for="requestedDate">Chose A Date</label>
                              <input type="date" id="requestedDate" class="form-control" formControlName="requestedDate">
                            </div>
                            <div class="form-group">
                              <label for="requestedDuration">Job Duration</label>
                              <input type="number" id="requestedDuration" class="form-control" min="1" max="7" [class.btn-outline-danger]="requestForm.controls.requestedDuration.invalid && changedRequest[0]" (change)="changedRequest[0]=true" formControlName="requestedDuration">
                            </div>
                            <div class="form-group">
                              <label for="requestedLocation">Job Location</label>
                              <select id="requestedLocation" class="form-control" [class.btn-outline-danger]="requestForm.controls.requestedLocation.invalid && changedRequest[1]" (change)="changedRequest[1]=true" formControlName="requestedLocation">
                                <option value="sitterHouse" selected>Sitter's House</option>
                                <option value="yourHouse">Your House</option>
                              </select>
                            </div>
                            <div class="form-group">
                              <label for="requestedChildrenNbr">Number Of Children</label>
                              <input type="number" id="requestedChildrenNbr" class="form-control" min="1" max="5" [class.btn-outline-danger]="requestForm.controls.requestedChildrenNbr.invalid && changedRequest[2]" (change)="changedRequest[2]=true" formControlName="requestedChildrenNbr">
                            </div>
                            <div class="form-group">
                              <label for="requestedNeedRegularJob">Are you Open For a Regular Job</label>
                              <select id="requestedNeedRegularJob" class="form-control" [class.btn-outline-danger]="requestForm.controls.requestedNeedRegularJob.invalid && changedRequest[3]" (change)="changedRequest[3]=true" formControlName="requestedNeedRegularJob">
                                <option value="false" selected>false</option>
                                <option value="true">true</option>
                              </select>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                              <button type="submit" class="btn btn-primary" >Submit</button>
                            </div>
                          </form>
                        </div>

                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>

