<div class="container bg-white w-100 p-3 mt-5 card-header " style="box-shadow: rgba(0, 0, 0, 0.75) 10px 10px 5px 0; ">

  <ul class="nav nav-tabs mb-1" role="tablist">
    <li class="nav-item">
      <a class="nav-link active font-weight-bold text-info" data-toggle="tab" href="#AccountSettings">Account Settings</a>
    </li>

    <li class="nav-item">
      <a class="nav-link font-weight-bold text-info" data-toggle="tab" href="#Availability">Availability</a>
    </li>

    <li class="nav-item">
      <a class="nav-link font-weight-bold text-info" data-toggle="tab" href="#Jobs">Jobs</a>
    </li>

    <li class="nav-item">
      <a class="nav-link font-weight-bold text-info" data-toggle="tab" href="#Reviews">Reviews</a>
    </li>
  </ul>

  <!-- ================================= ACCOUNT SETTINGS CASE ==================================-->

  <div class="tab-content">
    <div id="AccountSettings" class="container tab-pane active" style="position: relative"><br>

      <div class="text-center mb-2 " style="position: absolute; top: 10px ;right: 10px">
        <img id="profileImage" [src]="url ? url : 'http://ssl.gstatic.com/accounts/ui/avatar_2x.png'" width="150px" height="150px" class="avatar rounded-circle img-thumbnail " alt="avatar" (click)="clickPic()">
        <input type='file' id="imageUpload" name="profilePictureUpload" style="display: none" (change)="onSelectFile( $event);">
      </div>

      <h1> <i class="fas fa-user-cog"></i> Modify my settings</h1>
      <div class="col mt-4 ml-1">

        <form [formGroup]="personalInfoForm" (ngSubmit)="onSavePI(personalInfoForm.value)">
          <h3 class="text-info">Personal Information</h3>
          <div class="form-group">
            <label for="firstName">First Name:</label>
            <input type="text" class="form-control" id="firstName" placeholder="Exp: Ouss.." [class.btn-outline-danger]="personalInfoForm.controls.firstName.invalid && changedPI[0]" (change)="changedPI[0]=true" formControlName="firstName">
          </div>
          <div class="form-group">
            <label for="lastName">Last Name:</label>
            <input type="text" class="form-control" id="lastName" placeholder="Exp: Ben Fredj .." [class.btn-outline-danger]="personalInfoForm.controls.lastName.invalid && changedPI[1]" (change)="changedPI[1]=true" formControlName="lastName" >
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Email Address:</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Exp: example@gmail.com" [class.btn-outline-danger]="personalInfoForm.controls.email.invalid && changedPI[2]" (change)="changedPI[2]=true" formControlName="email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group">
            <label for="phoneNumber">Phone Number:</label>
            <input type="text" class="form-control" id="phoneNumber" placeholder="Exp: 24772681 ..." [class.btn-outline-danger]="personalInfoForm.controls.phoneNumber.invalid && changedPI[3]" (change)="changedPI[3]=true" formControlName="phoneNumber">
          </div>
          <div class="form-group">
            <label for="jobStatus">Job/Education:</label>
            <input class="form-control" type="text" id="jobStatus" name="jobStatus" placeholder="Exp: studying , doctor , etc..." [class.btn-outline-danger]="personalInfoForm.controls.jobStatus.invalid && changedPI[4]" (change)="changedPI[4]=true" formControlName="jobStatus">
          </div>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1" (change)="checkBoxChange()">
            <label class="form-check-label" for="exampleCheck1">Check me out </label>
          </div>
          <button type="submit" class="btn btn-info btn-md form-control " style="width: 150px" [disabled]="!checkBoxChecked">
            <span [hidden]="savingPI">Save</span>
            <span [hidden]="!savingPI" class="spinner-border" role="status">
              <span class="sr-only">Loading...</span>
            </span>
          </button>
        </form>
        <div class="border mt-5 w-75" style="margin-left: 12.5%"></div>
        <form class="mt-4" [formGroup]="newPasswordForm" (ngSubmit)="onSaveNP(newPasswordForm.value)">
          <h3 class="text-info">New Password</h3>
          <div class="form-group">
            <label for="oldPassword">Your Old Password</label>
            <input type="password" class="form-control" id="oldPassword" [class.btn-outline-danger]="newPasswordForm.controls.oldPassword.invalid && changedNP[0]" (change)="changedNP[0]=true" formControlName="oldPassword"  >
          </div>
          <div class="form-group">
            <label for="newPassword">Your New Password</label>
            <input type="password" class="form-control" id="newPassword" [class.btn-outline-danger]="newPasswordForm.controls.newPassword.invalid && changedNP[1]" (change)="changedNP[1]=true" formControlName="newPassword">
          </div>
          <div class="form-group">
            <label for="confirmNewPassword">Confirm Your New Password</label>
            <input type="password" class="form-control" id="confirmNewPassword" [class.btn-outline-danger]="newPasswordForm.controls.confirmNewPassword.invalid && changedNP[2]" (change)="changedNP[2]=true" formControlName="confirmNewPassword">
          </div>
          <button type="submit" class="btn btn-info btn-md form-control " style="width: 150px">
            <span [hidden]="savingNP">Save</span>
            <span [hidden]="!savingNP" class="spinner-border" role="status">
              <span class="sr-only">Loading...</span>
            </span>
          </button>
        </form>
        <div class="border mt-5 w-75" style="margin-left: 12.5%"></div>

        <form class="mt-4" [formGroup]="jobInformationForm" (ngSubmit)="onSaveJI(jobInformationForm.value)">
          <h3 class="text-info">Job Information</h3>
          <div class="form-group">
            <label for ="numberOfChildrenHandling">how many children can you take care of :</label>
            <select id="numberOfChildrenHandling"  class="custom-select" name="numberOfChildrenHandling" [class.btn-outline-danger]="jobInformationForm.controls.numberOfChildrenHandling.invalid && changedJI[0]" (change)="changedJI[0]=true" formControlName="numberOfChildrenHandling">
              <option disabled>Chose...</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
          </div>
          <label> age of children you can take care of</label>
          <fieldset class="form-group mb-4 mt-2 ">
            <div class="row">
              <div class="col-sm">
                <div class="col">
                  <div><img src="assets/img/infant.svg" width="150px" height="150px" alt="infantPicture"></div>
                  <div><input class="form-check-input" style="margin-left:70px;" type="checkbox" name="childAge" id="infant" value="infant" (click)="sitterProfile.toggleElementInArray(sitterProfile.childAge , 'infant')" [checked]="sitterProfile.childAge.includes('infant')"></div>
                </div>
              </div>
              <div class="col-sm">
                <div class="col">
                  <div><img src="assets/img/toddler.svg" width="150px" height="150px" alt="toddlerPicture"></div>
                  <div ><input class="form-check-input" style="margin-left:70px;" type="checkbox" name="childAge" id="toddler" value="toddler" (click)="sitterProfile.toggleElementInArray(sitterProfile.childAge , 'toddler')" [checked]="sitterProfile.childAge.includes('toddler')"></div>
                </div>
              </div>
              <div class="col-sm">
                <div class="col">
                  <div><img src="assets/img/preschool.svg" width="150px" height="150px" alt="preschoolerPicture"></div>
                  <div><input class="form-check-input" style="margin-left:70px;" type="checkbox" name="childAge" id="preschooler" value="preschooler" (click)="sitterProfile.toggleElementInArray(sitterProfile.childAge , 'preschooler')" [checked]="sitterProfile.childAge.includes('preschooler')"></div>
                </div>
              </div>
              <div class="col-sm ">
                <div class="col">
                  <div><img src="assets/img/school.svg" width="150px" height="150px" alt="schoolerPicture"></div>
                  <div><input class="form-check-input " style="margin-left:70px;" type="checkbox" name="childAge" id="schooler" value="schooler" (click)="sitterProfile.toggleElementInArray(sitterProfile.childAge , 'schooler')" [checked]="sitterProfile.childAge.includes('schooler')"></div>
                </div>
              </div>
            </div>
          </fieldset>
          <div class="form-group mt-4">
            <label for ="displacement">are you able to make displacements :</label>
            <select id="displacement" class="form-control" name="displacement"  [class.btn-outline-danger]="jobInformationForm.controls.displacement.invalid && changedJI[1]" (change)="changedJI[1]=true" formControlName="displacement">
              <option disabled>Chose...</option>
              <option value="true">Yes</option>
              <option value="false">No</option>
            </select>
          </div>
          <div class="form-group">
            <label for="experienceYears"> how many years of experience do you have on this job</label>
            <input class="form-control" id="experienceYears" type="number" name="experienceYears" min="0" max="60" value="0" [class.btn-outline-danger]="jobInformationForm.controls.experienceYears.invalid && changedJI[2]" (change)="changedJI[2]=true" formControlName="experienceYears" >
          </div>
          <div class="form-group">
            <label>Certificates:</label>
            <div class="checkbox">
              <label><input type="checkbox" value="CPR" name="certif" (click)="sitterProfile.toggleElementInArray(sitterProfile.certificates , 'CPR')" [checked]="sitterProfile.certificates.includes('CPR')"> CPR</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" value="firstAid" name="certif" (click)="sitterProfile.toggleElementInArray(sitterProfile.certificates , 'firstAid')" [checked]="sitterProfile.certificates.includes('firstAid')"> First Aid</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" value="waterSafety" name="certif" (click)="sitterProfile.toggleElementInArray(sitterProfile.certificates , 'waterSafety')" [checked]="sitterProfile.certificates.includes('waterSafety')"> Water Safety</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" value="driverLicence" name="certif" (click)="sitterProfile.toggleElementInArray(sitterProfile.certificates , 'drivingLicence')" [checked]="sitterProfile.certificates.includes('drivingLicence')"> Driver's license</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" value="cooking" name="certif" (click)="sitterProfile.toggleElementInArray(sitterProfile.certificates , 'nutrition')" [checked]="sitterProfile.certificates.includes('nutrition')"> Nutrition and cooking courses</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" value="fitnessEducation" name="certif" (click)="sitterProfile.toggleElementInArray(sitterProfile.certificates , 'fitnessEducation')" [checked]="sitterProfile.certificates.includes('fitnessEducation')"> Fitness Education </label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" value="specialNeedCare" name="certif" (click)="sitterProfile.toggleElementInArray(sitterProfile.certificates , 'specialNeedCare')" [checked]="sitterProfile.certificates.includes('specialNeedCare')"> Special Needs Care </label>
            </div>

          </div>
          <button type="submit" class="btn btn-info btn-md form-control" >
            <span [hidden]="savingJI">Save</span>
            <span [hidden]="!savingJI" class="spinner-border" role="status">
              <span class="sr-only">Loading...</span>
            </span>
          </button>

        </form>
        <div class="border mt-5 mb-5 w-75" style="margin-left: 12.5%"></div>
        <form [formGroup]="aboutMeForm" (ngSubmit)="onSaveAM(aboutMeForm.value)">
          <h3 class="text-info">About Me</h3>
          <div class="form-group">
            <textarea class="form-control" id="aboutMeText" name="aboutMeText" placeholder="Describe Your Self Here ..." [class.btn-outline-danger]="aboutMeForm.controls.aboutMeText.invalid && changedAM" (change)="changedAM=true" formControlName="aboutMeText">
            </textarea>
            <small class="text-muted">Maximum 150 words</small>
            <button type="submit" name="saveAboutMe" class="btn btn-info btn-md form-control" >
              <span [hidden]="savingAM">Save</span>
              <span [hidden]="!savingAM" class="spinner-border" role="status">
              <span class="sr-only">Loading...</span>
            </span>
            </button>
          </div>
        </form>
        <div class="border mt-5 w-75" style="margin-left: 12.5%"></div>
        <form class="mt-4" [formGroup]="notificationForm">
          <h3 class="text-info">Notifications</h3>
          <div class="form-group col">
            <div class="form-group" >
              <label class="ml-n2" for="subscribeEmail">Subscribe  To NewsLetter:</label>
              <div class="row">
                <input  type="email" class="form-control" id="subscribeEmail" aria-describedby="subEmail"  placeholder="Exp: Example@gmail.com" style="width: 90%" [class.btn-outline-danger]="notificationForm.controls.emailSub.invalid && changedNotif" (change)="changedNotif=true" formControlName="emailSub">
                <ui-switch class="col-sm-1" color="#17a2b8" id="emailSubCheck" [disabled]="notificationForm.controls.emailSub.invalid" (click)="subscribeChange(notificationForm.value)" formControlName="emailSubCheck" ></ui-switch>
              </div>
            </div>
            <label class="ml-n2">Your email notifications</label>
            <ul class="list-group ml-n3">
              <li class="list-group-item font-weight-bold" style="height: 50px">Jobs Request <ui-switch class="col-sm-1" color="#17a2b8" style="float: right" [disabled]="!newsLetterChecked" (click)="onUpdateNotifications(notificationForm.value)"  formControlName="jobRequest"></ui-switch></li>
              <li class="list-group-item font-weight-bold" style="height: 50px">Received Reviews <ui-switch class="col-sm-1" color="#17a2b8" style="float: right" [disabled]="!newsLetterChecked" (click)="onUpdateNotifications(notificationForm.value)" formControlName="reviewsReceived"></ui-switch></li>
            </ul>

          </div>
        </form>
      </div>
    </div>

    <!-- ================================= END ACCOUNT SETTINGS CASE ==================================-->

    <!-- ===================================== Availability CASE ======================================-->

    <div id="Availability" class="container tab-pane fade"><br>
      <form [formGroup]="availabilityForm" (ngSubmit)="onSaveAV(availabilityForm.value)">
        <div class="form-group card-header">
          <label for="available" style="font-size: 28px;font-weight: 500"> Are You Available</label><ui-switch class="col-sm-1 mt-2" color="#17a2b8" style="float: right" id="available" (change)="changeAvailability()" formControlName="available" ></ui-switch>
        </div>
        <div class="form-group mt-2" *ngIf="available">
          <div class="form-group">
            <label for="availabilityDate">when are you available</label>
            <select id="availabilityDate" class="form-control" name="availabilityDate" [class.btn-outline-danger]="availabilityForm.controls.availabilityDate.invalid && changedAV[0]" (change)="changedAV[0]=true" formControlName="availabilityDate">
              <option disabled>Chose...</option>
              <option value="0">Today</option>
              <option value="1">Tomorrow</option>
              <option value="2">In Two Days</option>
              <option value="3">In Three Days</option>
              <option value="4">In Four Days</option>
              <option value="5">In Five Days</option>
              <option value="6">In Six Days</option>
              <option value="7">In A Week</option>
            </select>
          </div>
          <div class="form-group">
            <label for="duration" > For How Many Days Do you Intend To BabySit</label>
            <select id="duration" class="form-control" name="duration" [class.btn-outline-danger]="availabilityForm.controls.duration.invalid && changedAV[1]" (change)="changedAV[1]=true" formControlName="duration">
              <option disabled>Chose...</option>
              <option value="1">One Day</option>
              <option value="2">Two Days</option>
              <option value="3">Three Days</option>
              <option value="4">Four Days</option>
              <option value="5">Five Days</option>
              <option value="6">Six Days</option>
              <option value="7">Seven Days</option>
            </select>
          </div>
          <div class="form-group">
            <label for="openJob">Are you Open For a Regular job:</label>
            <select id="openJob" name="openJob" class="form-control" [class.btn-outline-danger]="availabilityForm.controls.openJob.invalid && changedAV[2]" (change)="changedAV[2]=true" formControlName="openJob">
              <option disabled>Chose...</option>
              <option value="false">No</option>
              <option value="true">Yes</option>
            </select>
          </div>
          <div class="form-group">
            <label for="availabilityAdditionalInfo">Additional Info:</label>
            <textarea id="availabilityAdditionalInfo" class="form-control" [class.btn-outline-danger]="availabilityForm.controls.availabilityAdditionalInfo.invalid && changedAV[3]" (change)="changedAV[3]=true" formControlName="availabilityAdditionalInfo"></textarea>
            <small class="form-text text-muted">Maximum 300 Characters.</small>
          </div>
        </div>
        <button type="submit" class="btn btn-info btn-md form-control mt-2" style="width: 150px">
          <span [hidden]="savingAvailability">Save</span>
          <span [hidden]="!savingAvailability" class="spinner-border" role="status">
              <span class="sr-only">Loading...</span>
            </span>
        </button>
      </form>
    </div>

    <!-- ===================================== END AVAILABILITY CASE ======================================-->


    <!-- =========================================== Jobs CASE ============================================-->


    <div id="Jobs" class="container tab-pane fade"><br>
      <h3 class="text-center" *ngIf="!sitterProfile.jobs.length">No Jobs Have Been Found.</h3>
      <div *ngIf="sitterProfile.jobs.length">
        <div class="container mb-2 " *ngFor="let job of sitterProfile.jobs; let  i = index">
          <div class="card-header">
            <button type="button" class="close" aria-label="Close" (click)="deleteJob(i)">
              <span aria-hidden="true">&times;</span>
            </button>
            <h5><span class="text-info">{{job.nameSender}}</span> requested you for a job:</h5>
          </div>
          <div class="border border-top-0 p-2">
            <p style="position:relative;">Phone Number :<span style="position: absolute;left: 200px">{{job.phoneNumber}}</span></p>
            <p style="position:relative;">Job Date :<span style="position: absolute;left: 200px">{{job.jobDate}}</span></p>
            <p style="position:relative;">Job Length :<span style="position: absolute;left: 200px">{{job.jobLength}} {{(job.jobLength > 1)? 'Days' : 'Day'}} </span></p>
            <p style="position:relative;">Location :<span style="position: absolute;left: 200px">{{job.jobLocation}}</span></p>
            <p style="position:relative;">Number Of Children :<span style="position: absolute;left: 200px">{{job.numChildren}}</span></p>
            <p style="position:relative;">Needs A Regular Job :<span style="position: absolute;left: 200px">{{job.openFRJ}}</span></p>
          </div>
          <div class="card-header col border-right border-left">
            <button type="button" class="btn btn-success" *ngIf="job.jobStatus === undefined" (click)="acceptClick(i)" >Accept</button>
            <button type="button" class="btn btn-danger ml-2" *ngIf="job.jobStatus === undefined" (click)="rejectClick(i)" >Reject</button>
            <button type="button" class="btn" [ngClass]="{'btn-success':job.jobStatus , 'btn-danger':job.jobStatus === false}" disabled *ngIf="!(job.jobStatus === undefined)" ><span *ngIf="job.jobStatus">Accepted</span><span *ngIf="job.jobStatus === false">Rejected</span></button>
            <!--ADD AN IGNORED BUTTON (black) WHICH APPEARS IF THE DEADLANE OF ACCEPTING OR REJECTING IS PASSED-->

            <a [routerLink]="'/viewprofile/parent/'+job.id" class="float-right mt-2">View Profile</a>
          </div>
        </div>
      </div>

    </div>

    <!-- ========================================== END JOBS CASE ==========================================-->


    <!-- ========================================== REVIEWS CASE ===========================================-->


    <div id="Reviews" class="container tab-pane fade"><br>
      <h3 class="text-center" *ngIf="!sitterProfile.reviews.length">No reviews Have Been Found.</h3>
      <div class="row" *ngIf="sitterProfile.reviews.length">
        <div class="text-center col-4 ">
          <h1 style="font-size: 70px">{{sitterProfile.avgRate}}</h1>
          <p>out of 5</p>
          <p><i class="fas fa-user pr-1"></i>{{sitterProfile.reviews.length}} total</p>
          <div class="text-center mb-2">
            <span class="fa fa-star mx-1 text-info"> </span>
            <span class="fa-star mx-1 text-info" [ngClass]="{'fa': sitterProfile.avgRate > 1, 'far': sitterProfile.avgRate === 1}"></span>
            <span class="fa-star mx-1 text-info" [ngClass]="{'fa': sitterProfile.avgRate > 2, 'far': sitterProfile.avgRate <= 2}"></span>
            <span class="fa-star mx-1 text-info" [ngClass]="{'fa': sitterProfile.avgRate > 3, 'far': sitterProfile.avgRate <= 3}"></span>
            <span class="fa-star mx-1 text-info" [ngClass]="{'fa': sitterProfile.avgRate > 4, 'far': sitterProfile.avgRate <= 4}"></span>
          </div>
        </div>

        <div class="col-8">
          <div class="row mt-2 ">
            <p class=" mt-n1 mr-2">5</p>
            <div class="progress " style="width: 82%" >
              <div class="progress-bar" role="progressbar" [style.width]="(sitterProfile.starCounts[4] / sitterProfile.reviews.length)* 100 + '%'" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <div class="row mt-2 ">
            <p class=" mt-n1 mr-2">4</p>
            <div class="progress " style="width: 82%">
              <div class="progress-bar bg-info" role="progressbar" [style.width]="(sitterProfile.starCounts[3] / sitterProfile.reviews.length)* 100 + '%'" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <div class="row mt-2 ">
            <p class=" mt-n1 mr-2">3</p>
            <div class="progress " style="width: 82%">
              <div class="progress-bar bg-success" role="progressbar" [style.width]="(sitterProfile.starCounts[2] / sitterProfile.reviews.length)* 100 +'%'" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <div class="row mt-2 ">
            <p class=" mt-n1 mr-2">2</p>
            <div class="progress " style="width: 82%">
              <div class="progress-bar bg-warning" role="progressbar" [style.width]="(sitterProfile.starCounts[1] / sitterProfile.reviews.length)* 100 + '%'" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <div class="row mt-2">
            <p class=" mt-n1 mr-2">1</p>
            <div class="progress " style="width: 82%">
              <div class="progress-bar bg-danger" role="progressbar" [style.width]="(sitterProfile.starCounts[0] / sitterProfile.reviews.length)* 100 + '%'" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>


      </div>
      <div class="mx-auto row mt-3 p-2 bg-light mb-2" style="width: 870px; position:relative ;border: 1px solid #EAEAEA; border-radius: 2px" *ngFor="let rating of sitterProfile.reviews ; let i= index">
        <div class="col-2 position-relative ">
          <img class="rounded-circle position-relative top" src="assets/img/oussama.jpg" width="70px" height="70px" alt="reviewerPicture">
          <a [routerLink]="'/viewProfile/parent/'+rating.idRev" style="text-underline: none; color: black" class="text-center">{{rating.firstNameRev}}</a>
          <div class="mb-2 ml-n2" style="width: 90px ;font-size: 9px">
            <i class="fa fa-star mx-1 text-info"> </i>
            <i class="fa-star mx-1 text-info" [ngClass]="{'fa': +rating.review > 1, 'far': +rating.review === 1}"></i>
            <i class="fa-star mx-1 text-info" [ngClass]="{'fa': +rating.review > 2, 'far': +rating.review <= 2}"></i>
            <i class="fa-star mx-1 text-info" [ngClass]="{'fa': +rating.review > 3, 'far': +rating.review <= 3}"></i>
            <i class="fa-star mx-1 text-info" [ngClass]="{'fa': +rating.review > 4, 'far': +rating.review <= 4}"></i>

          </div>
          <p>{{rating.reviewDate}}</p>
        </div>
        <div class="col-10 text-left pl-4 pt-2">
          {{rating.reviewText}}
        </div>

      </div>


    </div>

    <!-- ========================================== END REVIEWS CASE =========================================-->


  </div>

</div>

