<div class="container bg-white w-100 p-3 mt-5 card-header " style="box-shadow: rgba(0, 0, 0, 0.75) 10px 10px 5px 0; ">

  <ul class="nav nav-tabs mb-1" role="tablist">
    <li class="nav-item">
      <a class="nav-link active font-weight-bold text-info" data-toggle="tab" href="#profile">profile</a>
    </li>

    <li class="nav-item">
      <a class="nav-link font-weight-bold text-info" data-toggle="tab" href="#Reviews">Reviews</a>
    </li>
  </ul>

  <div class="tab-content">


    <!-- ========================================== PROFILE CASE =========================================-->

    <div id="profile" class="container tab-pane active"><br>
      <div class="row">
        <div class="col-3 text-center">
          <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" width="247px" height="247px" alt="profilePicture" class="mx-auto">
          <button class="btn btn-info form-control mx-auto mt-2" id="RequestJobButton" name="RequestJobButton">Request Job</button>
        </div>
        <div class="col-9">
          <h1>Oussama Ben Fredj                         <i class=" fa-star text-info" [ngClass]="{far: !addedToFavourites, fa : addedToFavourites }" (click)="addToFavourites()"><a class="text-info" href="#" style="font-size: 20px" *ngIf="addedToFavourites">See In Favourites</a></i> </h1>
        </div>
      </div>
    </div>

    <!-- ========================================== END PROFILE CASE =========================================-->



    <!-- ========================================== REVIEW CASE =========================================-->


    <div id="Reviews" class="container tab-pane fade"><br>
      <h3 class="text-center" *ngIf="!ratings.length">No reviews Have Been Found.</h3>
      <div class="row">
        <div class="text-center col-4 ">
          <h1 style="font-size: 70px">4.0</h1>
          <p>out of 5</p>
          <p><i class="fas fa-user pr-1"></i>100 total</p>
          <div class="text-center mb-2">
            <span class="fa fa-star mx-1 text-info"> </span>
            <span class="fa fa-star mx-1 text-info"></span>
            <span class="fa fa-star mx-1 text-info"></span>
            <span class="fa fa-star mx-1 text-info"></span>
            <span class="far fa-star mx-1 text-info "></span>
          </div>
        </div>

        <div class="col-8">
          <div class="row mt-2 ">
            <p class=" mt-n1 mr-2">5</p>
            <div class="progress " style="width: 82%">
              <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <div class="row mt-2 ">
            <p class=" mt-n1 mr-2">4</p>
            <div class="progress " style="width: 82%">
              <div class="progress-bar bg-info" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <div class="row mt-2 ">
            <p class=" mt-n1 mr-2">3</p>
            <div class="progress " style="width: 82%">
              <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <div class="row mt-2 ">
            <p class=" mt-n1 mr-2">2</p>
            <div class="progress " style="width: 82%">
              <div class="progress-bar bg-warning" role="progressbar" style="width: 0" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <div class="row mt-2">
            <p class=" mt-n1 mr-2">1</p>
            <div class="progress " style="width: 82%">
              <div class="progress-bar bg-danger" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>


      </div>
      <div class="mx-auto row mt-3 p-2 bg-light mb-2" style="width: 870px; position:relative ;border: 1px solid #EAEAEA; border-radius: 2px" *ngFor="let rating of ratings ; let i= index">
        <div class="col-2 position-relative ">
          <img class="rounded-circle position-relative top" src="assets/img/oussama.jpg" width="70px" height="70px" alt="reviewerPicture">
          <a href="#" style="text-underline: none; color: black" class="text-center">Oussama</a>
          <div class="mb-2 ml-n2" style="width: 90px ;font-size: 9px">
            <i class="fa fa-star mx-1 text-info"> </i>
            <i class="fa fa-star mx-1 text-info"></i>
            <i class="fa fa-star mx-1 text-info"></i>
            <i class="fa fa-star mx-1 text-info"></i>
            <i class="far fa-star mx-1 text-info"></i>
          </div>
          <p>24/7/2020</p>
        </div>
        <div class="col-10 text-left pl-4 pt-2">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </div>

      </div>

      <div class="bg-light mx-auto " style="width: 870px; height: 148px ;position:relative ;border: 1px solid #EAEAEA; border-radius: 2px">
        <form class="p-2">
          <textarea class="form-control mb-1" id="reviewText" name="reviewText" placeholder="Enter your review here..."></textarea>
          <div>
            <i class="fa-star text-info" [ngClass]="{far: !star1 , fa: star1}" (click)="star1Click()"></i>
            <i class="fa-star text-info" [ngClass]="{far: !star2 , fa: star2}" (click)="star2Click()"></i>
            <i class="fa-star text-info" [ngClass]="{far: !star3 , fa: star3}" (click)="star3Click()"></i>
            <i class="fa-star text-info" [ngClass]="{far: !star4 , fa: star4}" (click)="star4Click()"></i>
            <i class="fa-star text-info" [ngClass]="{far: !star5 , fa: star5}" (click)="star5Click()"></i>

          </div>
          <div class="form-group float-right">
            <input type="submit" value="submit" name="submitReview" id="submitReview" class="btn btn-success" >
          </div>
        </form>
      </div>


    </div>

    <!-- ========================================== END REVIEWS CASE =========================================-->


  </div>
</div>
