<div class="container card-header bg-white w-50 pt-1" style="box-shadow: rgba(0, 0, 0, 0.75) 10px 11px 5px 0; margin-top: 200px">
  <h1 class="text-info font-weight-bold text-center "> SIGN IN</h1>
  <form>
    <div class="form-group">
      <label for="email">Email:</label>
      <input id="email" type="email" name="email" class="form-control">
    </div>
    <div class="form-group">
      <label for="passwd">Password:</label>
      <input id="passwd" type="password" name="passwd" class="form-control">
    </div>
    <div class="form-group">
      <label for="remember-me" class="text-info"><span>Remember me</span> <span><input id="remember-me" name="remember-me" type="checkbox"></span></label><br>
      <button type="submit" class="btn btn-info btn-md form-control ">
        <i class="fas fa-sign-in-alt"></i>
        Submit
      </button>
    </div>
  </form>
</div>
